<nav class="navbar p-4">
  <a href="/home"><button class="btn">Home</button></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for Candidate" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </form>
  <a href="/users/viewall"><button class="btn">View All Candidates</button></a>
  <a href="/users/registercandidate"><button class="btn">Add Candidate</button></a>
  <a href="/logout"><button class="btn">Logout</button></a>
</nav>

<div class="row mt-5" style="max-width: 1200px; margin:auto">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Register New Candidate</h1>
      <form id="register">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="firstname" id="firstname" class="form-control" placeholder="Enter First Name" required />
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="lastname" id="lastname" class="form-control" placeholder="Enter Last Name" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" placeholder="Enter Your Email" required />
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <input type="text" id="position" class="form-control" placeholder="Enter Name of Position" required />
        </div>
        <div class="form-group">
          <label for="company">Company</label>
          <input type="text" id="company" class="form-control" placeholder="Enter Name of Company" required />
        </div>
        <button type="submit" class="btn btn-block">Register</button>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="reg-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
        <a href="/home"><button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span></a>
        </button>
      </div>
      <div class="modal-body">
        New recruit successfully registered!
      </div>
      <div class="modal-footer">
        <a href="/home"><button class="btn" type="button">Close</button></a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/addCandidate.js"></script>