<nav class="navbar p-4">
  <a href="/home"><button class="btn">Home</button></a>
  <a href="/my/jobs"><button class="btn">My Jobs</button></a>
  <a href="/my/recruiters"><button class="btn">My Recruiters</button></a>
  <a href="/logout"><button class="btn">Logout</button></a>
</nav>

<h1>Candidate homepage</h1>


<footer>
  <p>&copy; 2019</p>
</footer>


<script type="text/javascript" src="/js/navbar.js"></script>