<nav class="navbar p-4">
  <button class="btn">Home</button>
  <button class="btn">My Jobs</button>
  <button class="btn">My Recruiters</button>
</nav>

<h1>Welcome {{membername}}</h1>

<script type="text/javascript" src="/js/navbar.js"></script>