<div class="container">
    <div id="promo-recruiter-txt">
        <h3>Recruiters,</h3>
        <h4>Are you looking for a better way to manage your tech talent?</h4>
    </div>
    <div id="promo-candidate-txt">
        <h3>Job seekers,</h3>
        <h4>Do you need help keeping track of your opportunities?</h4>
    </div>
    <div id="best-friend">
        <h3>Meet your new best friend,</h3>
        <h1>Workhound.</h1>
    </div>
    <div id="workhound-promo">
        <img id="workhound-img" src="/imgs/hound.png">
    </div>
</div>

<footer>
  <p>&copy; 2019</p>
</footer>

<script type="text/javascript" src="/js/promo.js"></script>